@import "header&footer.css";
html{
    font-family: Calibri, sans-serif;
}
body{
    font-family: Calibri;
    background-color: ghostwhite;
    background-image: url("../img/gray-clipart-paw-print-4.png");
    background-repeat: no-repeat;
    background-size:25%;
    background-position: bottom;
    background-position: left;



}
.sign-in{
    text-align: center;
    border-radius: 20px;
    background-color: white;
    width: 500px;
    margin-left: 420px;
    padding-bottom: 50px;
    margin-bottom: 70px;


}

.sign-in div{
    padding: 10px;
    position: relative;
    right: 90px;
}

#sign-in-headline{
    padding-top: 28px;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #a6a6a6;

}

.sign-in-labels {
    color: #a6a6a6;
    text-align: left;
    padding-left: 128px;
    display: block;
}

.sign-in-input{
    height: 30px;
    width: 400px;
    position: relative;
    left: 90px;
    margin:auto;

}

#button-sign-in{
    width: 405px;
    height: 38px;
    margin-top: 20px;
    background-color:  #a6a6a6;
    color: ghostwhite;
    border-radius: 5px;
}

#button-sign-in:hover{
    background-color: black;
    cursor: pointer;
}

#sign-up-link-d{
    margin-top: 80px;
    color: #a6a6a6;
    margin-left: 180px;
    border-top: solid;
    border-bottom-width: 3px;
    font-size: small;
}

#sign-up-link-d a{

    text-decoration: none;

}